<% if user_signed_in? %>
  <p><%= current_user.email%></p>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>

<%= react_component('AppRouter', props: {appointments: @appointments, authenticity_token: @authenticity_token}) %>
